/* Defaults for the page
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main sections of display and used as full width backgrounds
*/
.header-area, .footer-area, .main-area {
    width: 100%vw;

    display: flex;
    justify-content: center;
    align-content: space-between;

    /* Content areas are horizontally centered over the 
        background areas and contain the active content of the
        page */
    & > #header-content, #footer-content, #main-content {
        width: 800px;
        border: 2px solid;      /* TEMP */
        margin: auto 0;
    }
}

/* Set header and footer colors
*/
.header-area, .footer-area {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(1, 1, 51);
}

/* Main content for page sits between header and footer, and is
    centred horizontally */
#main-content {

    /* Overall grid space */
    & > #div-grid {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 2px;

        /* 16 rows in a column (js adds this) */
        & .grid-rows {
            display: flex;
            gap: 2px;

            /* 16 individual boxes for each row (js adds this) */
            & .grid-items {
                width: 48px;
                height: 48px;
                background-color: rgb(0, 105, 139);     /* TEMP */
                /* padding: 5px; */
                transition: background-color 1s ease-out;

                &:hover {
                    background-color: rgb(56, 205, 254);
                    transition: none;
                }
            }
        }
    }
}


